// where the styling limited to the home page goes

@import '_variables';
@import '_base';

.centered-content{
  width: vw;
  height: auto;
  text-align: center;
  background-color: $content-background;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0;
  padding: 10px;
}

