<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

        {% block head %}
        {% endblock %}

        <title>
            {% block title %}{% endblock %}
        </title>
    </head>

    <body>
        <header>
        <!-- add header stuff here -->
        </header>

        <section id="content">
            {% block content %}
            {% endblock %}
        </section>

        <footer>
        <!-- add footer stuff here -->
        </footer>
    </body>
</html>
