<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,800&display=swap" rel="stylesheet">


        {% block head %}
        {% endblock %}

        <title>
            Crypt0n1te - {% block title %}{% endblock %}
        </title>
    </head>

    <body>
        <header>
            <div class="title-banner">
                <h1 class="title-text">Crypt0n1te</h1>
            </div>

        </header>

        <section id="content">
            {% block content %}
            {% endblock %}
        </section>

        <footer>
        <!-- add footer stuff here -->
        </footer>
    </body>
</html>
